*{
    box-sizing: border-box;
    font-family: 'Reem Kufi Fun', sans-serif;
}

body{
    background-color: rgba(164, 216, 81, 0.226);
}
.nav{
    display: block;
}

.conatiner{
    background-image: url(images/slika4.jpg);
    height: 600px;
    width: 100%;
}

.projekat{
    margin-bottom:20px;
    margin-top: 20px;
    padding: 5px;
}

.footer{
    background-color: blanchedalmond;
    margin-top: 5%;
}

a{
    text-decoration: none;
}

.prednja{
    background-image: url("images/pomocna slika.png");
    background-repeat: no-repeat;
    height: 800px;
}

.svg-r{
    margin-top: 30%;
    margin-left: 24%;
}

.poruka{
    height: 200px;
    width: 100%;
}

input{
    margin: 10px 0px 10px 0px;
}

.title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 600px;
}


.bs-example{
    margin: 200px 150px 0;
}

.bs-example button{
    margin: 10px;
}

ul{
    list-style: none;
    padding: 0px !important;
}

@media (max-width:992px){
    .second-btn{
        margin-top: 5%;
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        height: 300px;
        width: 300px;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 300px;
        width: 400px;
    }
}

@media (max-width:450px){
    .mapouter {
        position: relative;
        text-align: right;
        height: 300px;
        width: 300px;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 300px;
        width: 330px;
    }
}